/* CSS Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

/* Body Style */
body {
    height: 100vh;
    width: 100%;
    background-color: lightgreen;
    display: grid;
    place-items: center;
}

.container {
    width: 150rem;
    height: 80rem;
    background-color: rgb(88,179,253);
    display: grid;
    place-items: center;
}

/* Helicopter Style */
.helicopter {
    width: 80rem;
    height: 60rem;
    background-color: #fff;
    position: relative;
}

.helicopter div {
    position: absolute;
}

.blade {
    width: 40rem;
    height: 2rem;
    background-color: #000;
    top: 15rem;
    left: 20rem;
}

.main-rotor {
    width: 5rem;
    height: 2rem;
    background-color: red;
    left: 17.5rem;
}

