/* CSS Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

/* Body Style */
body {
    height: 100vh;
    width: 100%;
    background-color: lightgreen;
    display: grid;
    place-items: center;
}

.container {
    width: 150rem;
    height: 80rem;
    background-color: rgb(88,179,253);
}